name: Build and deploy container to the VPS server

on:
  workflow_run:
    workflows: ['Tests']
    types:
      - completed

jobs:
  build-and-push:
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Docker Hub auth
        run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      - name: Build docker image
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/nest-starter:latest .
      - name: Push docker image
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/nest-starter:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push
    steps:
      - name: SSH and deploy
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd /opt/server/nest-starter
            docker compose --env-file .env.production -f docker-compose.prod.yml up -d --pull always
